*:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  body {
    align-items: center;
    background-color: #1d1d1d;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  
  .btn {
    padding: 12px 24px;
    background-color: #1d1d1d;
    border: 1px solid #4e4e4e;
    border-radius: 50px;
    font-size: 30px;
    position: relative;
    z-index: 10;
  }
  
  .btn::before {
    content: "";
    margin: auto;
    left: -2px;
    top: -2px;
    position: absolute;
    z-index: -1;
    width:65px;
      height:63px;
      background: #FF6532;
      border-radius:50%;
      filter:blur(0px);
    opacity: 30%;
  }
  
  .btn:hover::before {
      animation: turn-on-light .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes turn-on-light {
    0% {
      left: -2px;
      opacity: 30%;
    }
    50% {
      filter:blur(7px);
      opacity: 60%;
    }
    99% {
              left: 79%;
      filter:blur(15px);
      opacity: 100%;
      background: #FF6532;
    }
     100% {
              left: 80%;
      filter:blur(15px);
      opacity: 100%;
       background: #fff;
    }
  }
  
  .button-1:hover a {
    color: #1d1d1d;
    border-color: #FF6532;
    background-color: #FF6532;
    transition-delay: .5s;
  }
  
  .button-1 a {
    text-decoration: none;
    color: #4e4e4e;
    font-family: 'Work Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 400;
  }
  
  
  
  